body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(to bottom,blueviolet,blueviolet);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:90%;
    max-width:400px;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,0.2);
}

.form{
    display:none;
    animation:fade 0.4s ease;
}

.form.active{
    display:block;
}

h2{
    text-align:center;
    margin-bottom:20px;
}

input, select{
    width:90%;
    padding:12px;
    margin-bottom:15px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:14px;
}

.password-box{
    position:relative;
}

.password-box span{
    position:absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}

.main-btn{
    width:100%;
    padding:12px;
    background:#1e3c72;
    color:white;
    border:none;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
}

.switch-text{
    margin-top:15px;
    text-align:center;
    font-size:14px;
}

.switch-text span{
    color:#1e3c72;
    font-weight:bold;
    cursor:pointer;
}

@keyframes fade{
    from{opacity:0; transform:translateY(10px);}
    to{opacity:1; transform:translateY(0);}
}
